// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Wrappers

.wrapper {
    width: 100%;
}


@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        border-left: 1px solid darken($gray-lightest, 6.5%);
    }
}

// Navigation

// --Topbar

.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

// --Sidebar

.sidebar {
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid darken($gray-lightest, 6.5%);
    a {
        &.active {
            background-color: $gray-lighter;
        }
    }
}

.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
        width: 150px;
        margin-top: -30px;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

// -- Container
.container {
	margin-left: 150px
}

.enroll-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.header-menu.dropdown-menu li a {
  padding-top: 5px;
  padding-bottom: 5px;
}

.header-menu.dropdown-menu li a:hover {
  cursor: pointer;
}

.glyphicon-padding {
  padding-top: 2px;
}

.button-registrationAdmin {
  margin-top: 20px;
}

.programs-header {
  margin-bottom: 20px;
  color: #000;
}

.marginB10 {
  margin-bottom: 10px;
}

.marginB15 {
  margin-bottom: 15px;
}

.marginB20 {
  margin-bottom: 20px;
}

.marginB25 {
  margin-bottom: 25px;
}

.marginB40 {
  margin-bottom: 40px;
}

.marginT20 {
  margin-top: 20px;
}

#datatable.programs-datatable th {
  white-space: normal;
}

.programi .programs-datatable th:nth-child(1) {
  width: 20%;
}

.programi .programs-datatable th:nth-child(2) {
  width: 20%;
}

.programi .programs-datatable th:nth-child(6) {
  width: 5%;
}

.programi .programs-datatable th:nth-child(7) {
  width: 5%;
}

.programi .programs-datatable th:nth-child(8) {
  width: 5%;
}

.programi .programs-datatable th:nth-child(9) {
  width: 5%;
}

.programi .programs-datatable th:nth-child(10) {
  width: 5%;
}

.programi .programs-datatable th:nth-child(11) {
  width: 5%;
}

.select-has-error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.prijave .programs-datatable th:nth-child(1) {
  width: 3%;
}

.prijave .programs-datatable th:nth-child(2) {
  width: 17%;
}

.prijave .programs-datatable th:nth-child(3) {
  width: 20%;
}

.prijave .programs-datatable th:nth-child(4) {
  width: 14%;
}

.prijave .programs-datatable th:nth-child(5) {
  width: 20%;
}

.prijave .programs-datatable th:nth-child(6) {
  width: 20%;
}

.prijave .programs-datatable th:nth-child(7) {
  width: 6%;
}
